<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato|Nanum+Gothic:700|Raleway&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>    
    
    <header id="topHeader">
       
        <nav>
            <span class="logo">Farm-U</span>
            <div class="mainMenu">
                <a href="#intro"><span>Home</span></a>
                <a href="https://farm-u-py2.onrender.com/"><span>Service</span></a>
                <a href="#delivery"><span>About Us</span></a>
                <a href="#success-story"><span>Contact us</span></a>
                 <a><span style="color: rgb(0, 255, 255);">Hello..</span><span style="color:  #66007a;font-weight: bold; "> <%=useName%></span></a>
                <a href="/logout" >Logout</i></a>
                
             </div>
        </nav>
    </header>

    <section id="intro">
        <div id="intro-info">
            <div>
                <h1>Crop-Recomendation</h1>
                <div id="intro-tag-btn">
                    <span>At Crop Recommendation, our mission is to empower farmers with data-driven insights and advanced technology to optimize crop yields, reduce environmental impact, and enhance agricultural sustainability.</span>
                    <a href="https://farm-u-py2.onrender.com/" class="brand-btn">Predict</a>
                </div>
            </div>
        </div>

        <div id="development-img">
            <img src="crop.jpg"/>
        </div>
    </section>

<!-- ------------------------------------------------------About us------------------------------------------------ -->

    <section id="delivery">
        <h1 class="sec-heading">About Us</h1>
        <div class="col-5 delivery-img">
            <img src="crop2.jpg"/>
        </div>
        <div class="col-7">
            <h2> CROP Recommendation</h2>
            <p>Welcome to our Crop Recommendation App! We are passionate about revolutionizing the way farmers make decisions about their crops, ensuring higher yields, sustainability, and profitability. Our team consists of experts in agronomy, data science, and technology, dedicated to empowering farmers with cutting-edge tools and insights.  
                Our mission is to empower farmers worldwide with intelligent crop recommendations, leveraging advanced technology and data analytics. We aim to bridge the gap between traditional farming practices and modern technological advancements, ultimately enhancing agricultural productivity and sustainability.
                </p>
            <div class="btn-footer">
                <a href="" class="brand-btn">READ MORE</a>
            </div>
        </div>
    </section>
    

    <!-- ------------------------------------------------contact us -------------------------------------------------------------------------------------- -->
    <section id="success-story">
        <h1 class="sec-heading">Contact Us</h1> 
        
        <div class="slider">
            <div class="col-6 slide-text">
                <form name="submit-to-google-sheet">
                    <h1>Talk to Us</h1>
                
                      <!-- Name -->
                        <input type="text" id="formName" name="Name" class="form-control form-control-lg thick" placeholder="Name.."><br>
                
                      <!-- E-mail -->
                        <input type="email" id="formEmail" name="Email" class="form-control form-control-lg thick" placeholder="Email.."><br>
                      
                
                      <!-- Message -->
                        <textarea id="formMessage" name="Message" class="form-control form-control-lg" rows="5" placeholder="Write Message hare....."></textarea><br>
                    
                      <!-- Submit btn -->
                        <input type="submit" value="Submit">
                        <span id="success"></span>
                  </form>
            </div>
            <div class="col-6 slide-img">
                <img src="crop3.jpg" alt="World Travel App Development" title="World Travel Protection"/>
            </div>
        </div>
    </section>
       
    
    
    <footer>
       <div>
            <span class="logo">Farm-U</span>
       </div>

       <div class="row">
            <div class="col-3">
                <span class="footer-cat">Solution</span>
                <ul class="footer-cat-links">
                    <li><a href=""><span>Soil Analysis</span></a></li>
                    <li><a href=""><span>Climate Evauliation</span></a></li>
                    <li><a href=""><span>Market Research</span></a></li>
                </ul>
            </div>
            <div class="col-3">
                <span class="footer-cat">Content</span>
                <ul class="footer-cat-links">
                    <li><a href=""><span>Home</span></a></li>
                    <li><a href=""><span>About</span></a></li>
                    <li><a href=""><span>Contact us</span></a></li>
                    <li><a href=""><span>service</span></a></li>
                </ul>
            </div>
            <div class="col-3">
                <span class="footer-cat">Quick Links</span>
                <ul class="footer-cat-links">
                    <li><a href=""><span>Reviews</span></a></li>
                    <li><a href=""><span>Terms & Condition</span></a></li>
                    <li><a href=""><span>Disclaimer</span></a></li>
                    <li><a href=""><span>Site Map</span></a></li>
                </ul>
            </div>
          </div>
           
       </div>
       
       <a href="#topHeader" id="gotop">Top</a>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbx2Cce09dVN2mS1bXXB6Uy4C8GtLUrd2D-IlQBiYhIWNsIS6gvCX-O4rujlDBddWeQ3/exec'
            const form = document.forms['submit-to-google-sheet']
            let success=document.getElementById('success');
            form.addEventListener('submit', e => {
              e.preventDefault()
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => {
                    success.innerText="data successfully submit";
                })
                .catch(error => console.error('Error!', error.message))
            })
    </script>
</body>
</html>